/* General container styles */
.serviceContainer {
    padding: 20px;
    max-width: 1200px;
    margin-top: 100px;
    margin-left: 15%;
}

.serviceContainer h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 50px;
}

/* Grid layout for the service cards */
.serviceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Equal spacing between cards */
}

/* Styling for each service card */
.serviceCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: justify; /* Justifies the text */
    hyphens: auto; /* Helps prevent excessive word spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for card effect */
    transition: transform 0.2s, box-shadow 0.2s;
}

.serviceCard:hover {
    transform: translateY(-5px); /* Hover effect to lift the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slight increase in shadow on hover */
}

/* Image styling for each service card */
.serviceIcon {
    width: 100%;
    height: auto;
    max-width: 150px; /* Limit image size */
    margin-bottom: 10px;
}

/* Title styling */
.serviceCard h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

/* Description styling */
.serviceCard p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}

.serviceContainer h2 {
    font-size: 20px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.serviceGrid h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

    .serviceCard {
        padding: 5px;
    }

    .serviceIcon {
        max-width: 120px; /* Adjust image size on smaller screens */
    }

    .serviceCard h3 {
        font-size: 1.125rem;
    }
    .serviceGrid {
        margin-left: -40px;
    }

    .serviceContainer h2 {
        text-align: center;
        font-size: 22px;
        margin-top: 5px;
    }
}

@media (max-width: 480px) {
    .serviceContainer h2 {
        text-align: center;
        font-size: 20px;
        margin-top: 5px;
    }

    .serviceGrid {
        grid-template-columns: 1fr; /* Single column layout on smaller screens */
        margin-left: -40px;
    }

    .serviceCard {
        padding: 8px;
    }

    .serviceIcon {
        max-width: 100px; /* Further adjust image size */
    }

    .serviceCard h3 {
        font-size: 18px;
    }
}
